# Игнорировать системный мусор (обязательно для всех)

# Игнорировать временные файлы и логи

# Игнорировать огромные архивы с сырыми данными (если они лежат в проекте)

# Игнорировать целую папку (например, если у вас есть папка с тяжелыми исходниками)
# /raw_heavy_data/ — косые черты указывают, что нужно игнорировать всю папку со всем её содержимым.

inf.txt
push_to_git.sh